.input-field{
	width:85%;
	margin-left: 8%;
}

.btn{
	margin-left: 8%
}

#card{
	width:50%;
	margin-left: 25%;
	height:300px;
}
h5{
	font-size: 16pt;
	padding: 15px;
	text-align: center;
	text-transform: unset;
}
h2{
	color: #c4291c;
}

.btn{
	background-color: #c4291c
}
.btn:hover{
	color:#c4291c;
	background-color: black
}